{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assests/css/product_style.css' %}">
{% block title %} <title>{{ title }}</title> {% endblock %}

<div class="center-sidebar">
    {% if subject.product_set.all %}
    <div class="flex section">
        <h2>{{ title }}</h2>
        {% for product in subject.product_set.all %}
        <div class="section-box">
            <div class="product-title">
                {{ product }}
            </div>
            <div class="product-description">
                {{ product.descriiption }}
            </div>
            <div class="flex box-short-detail">
                <div class="product-name">
                    <span class="span">Название: </span> {{ product.name}}
                </div>
                <div class="product-created">
                    <span class="span">Дата заказа: </span> {{ product.date_order }}
                </div>
                <div class="product-ready">
                    <span class="span">Дата создания: </span>{{ product.created_at }}
                </div>
                <div class="product-link">
                    <a href="#">Подробнее >></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="flex block-else-product">
        <h2 class="flex justify-for-else">Данных о <b>"{{ subject }}"</b> пока нет!</h2>
        <div class="flex img-tumbleweed">
            <img src="{% static 'assests/img/ShadyFaithfulFishingcat-size_restricted.gif' %}" alt="">
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}