{% extends 'base/base.html' %}
{% load i18n static %}

{% block filter %}
{% if subjects %}

{% else %}
Нет объектов
{% endif %}
{% endblock %}

{% block content %}
{% block title %}<title>Product</title>{% endblock %}

<div class="flex contaner block-row">
    <div class="left-sidebar" style="padding-left: 5px;">
        <div class="left-sidebar-nav"  style="outline: 1px solid red; height: 500px;">
            <h2>заголовки</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti amet ducimus, doloribus provident dolorem consectetur ad sit rerum accusantium repudiandae, nam expedita enim quod hic ut quasi dolores odio quam.
        </div>
    </div>
    <div class="center-sidebar">
        <div class="flex">
            <div class="flex subject-wrap">
                {% for sub in subjects %}
                <li class="li-subject">
                    <ul class="cart-subject">
                        <div class="flex cart-subject-title">
                            <h3>{{ sub }}</h3>
                        </div>
                    </ul>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div>
</div>
{% endblock %}