{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}
{% block title %} <title>{{ title }}</title> {% endblock %}

{% if subject.product_set.all %}
<div>
    {% for product in subject.product_set.all %}
    {{ product }}
    {% endfor %}
</div>
{% else %}
<div class="center-sidebar">
    <div class="flex block-else-product">
        <h2 class="flex justify-for-else">Данных о <b>"{{ subject }}"</b> пока нет!</h2>
        <div class="flex img-tumbleweed">
            <img src="{% static 'assests/img/ShadyFaithfulFishingcat-size_restricted.gif' %}" alt="">
        </div>
    </div>
</div>
{% endif %}

{% endblock %}