{% extends 'base/base.html' %}
{% load i18n static %}

{% block nav-breadcrumbs %}
<nav aria-label="{% translate 'Breadcrumbs' %}" class="pos">
    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'product:clients' %}">{% translate 'Home' %}</a>
        &rsaquo; 
        <a href="{% url 'product:client-subjects' product.subject.client.slug %}">{{ product.subject.client }}</a>
        &rsaquo; 
        <a href="{% url 'product:subject_detail' product.subject.slug %}">{{ product.subject }}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
</nav>
{% endblock %}

{% block content %}
{% block title %} <title>{{ title }}</title> {% endblock %}

<div class="center-sidebar">
    <div class="flex section">
        <h1>{{ product.name }}</h1>
        <p class="client-descript">
            Тип АВР - {{ product.descriiption }}
        </p>
        <div class="flex roduct-box-detail">
            <p class="flex product-date-detail">
                <span class="flex product-title-date">ID Проекта:</span>
                {{ product.id_product }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Клиент:</span>
                {{ product.subject.client.name }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Объект:</span>
                {{ product.subject }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Дата заявки:</span>
                {{ product.date_order }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Дата готовности:</span>
                {{ product.date_ready }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Дата проверки:</span>
                {{ product.date_check }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Автор:</span>
                {{ product.get_author_display }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Тип реле:</span>
                {{ product.relay }}
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Статус проверки:</span>
                <span {% if product.status == 1 %}class="color-status-green"{% else %}class="color-status-yellow"{% endif %}>
                    {{ product.get_status_display }}
                </span>
            </p>
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Схема подключения:</span>
                <button>Открыть</button>
            </p>
            {% if user.is_staff %}
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Файл конфигурации:</span>
                <a style="color: #abbaff;" href="#">Скачать</a>
            </p>
            {% else %}
            <p class="flex product-date-detail">
                <span class="flex product-title-date">Файл конфигурации:</span>
                <span style="color: #ff9c9c;" href="#">Недостаточно прав</span>
            </p>
            {% endif %}
        </div>
        <div class="flex">
        </div>
    </div>
    <hr>
    <div class="btn-block">
        {% if user.profile.roles.first.role == 'Программист' %}
        <a class="btn btn-update" href="{% url 'product:product_update' product.slug %}">Редактировать</a>
        {% endif %}
    </div>
</div>

{% endblock %}