{% extends 'base/base.html' %}
{% load static i18n %}
{% load clent_tags %}

{% block nav-breadcrumbs %}
<nav aria-label="{% translate 'Breadcrumbs' %}" class="pos">
    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'product:clients' %}">{% translate 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
</nav>
{% endblock %}

{% block content %}
{% block title %} <title>{{ title }}</title> {% endblock %}

<div>
    {% if orders %}
    <table class="orders">
        <caption>
            <h1>{{ title }}</h1>
        </caption>
        <tr class="tr-header">
            <td>ID</td>
            <td>Автор</td>
            <td>Клиент</td>
            <td>Объект</td>
            <td>Шкаф</td>
            <td>Дата заявки</td>
            <td>Тип реле</td>
            <td>Файл</td>
            <td>Реестр</td>
        </tr>
        {% for order in orders %}
        <tr class="table-order">
            <td class="td">
                {% if order.reestr %}
                <input type="text" id="folderPath" value="\\nas4\montel-project\!РЕЕСТР\ID" style="display: none;">
                <button class="a-active" id="number_id" type="submit" onclick="CopyPath()">
                    {{ order.id_product }}
                </button>
                <!-- <form action="#">
                </form> -->
                {% else %}
                {{ order.id_product }}
                {% endif %}
            </td>
            <td>{{ order.user }}</td>
            <td>{{ order.client|truncatechars:19 }}</td>
            <td>{{ order.subject|truncatechars:19 }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.relay }}</td>
            <td class="dropdown">
                <button class="dropbtn" type="button">Схема ↓</button>
                <ul class="dropdown-content">
                    <li>
                        <a href="{{ order.file_schema.url }}" target="_blank">Открыть</a>
                    </li>
                    <li>
                        <a href="{{ order.file_schema.url }}" download="">Скачать</a>
                    </li>
                </ul>
            </td>
            <td>
                <form action="#" method="post">
                    {% csrf_token %}
                    {% if order.reestr %}
                    {% with product=order.id_product|get_id_product %}
                    <a href="{% url 'product:product_detail' product.slug %}" type="submit">
                        <span class="btn-add to-reestr">Добавлено</span>
                    </a>
                    {% endwith %}
                    {% else %}
                    {% if user.profile.roles.first.role == 'Программист' %}
                    <a id="addedLink" href="{% url 'product:order' order.pk %}" type="submit"
                        onclick="return addToReestr();">
                        <span class="btn-add not-reestr">Добавить</span>
                    </a>
                    {% else %}
                    <span class="btn-add not-reestr">Добавить</span>
                    {% endif %}
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}