{% extends 'base/base.html' %}

{% block content %}
{% block title %} <title>{{ title }}</title> {% endblock %}

<div>
    {% if orders %}
    <table name="orders" border="1px" bgcolor="#3771a7" width="900px" cellpadding="5px">
        <caption><h1>{{ title }}</h1></caption>
        <tr style="background: #878775;">
            <td>ID</td>
            <td>Клиент</td>
            <td>Объект</td>
            <td>Шкаф</td>
            <td>Дата заявки</td>
            <td>тип реле</td>
            <td>Файл</td>
            <td>Статус</td>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id_product }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.subject }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.relay }}</td>
            <td><a href="{{ order.file_schema.url }}" target="_blank">Схема</a></td>
            <td>-</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}