{% include 'base/header.html' %}
{% load i18n static %}


{% block filter %}
{% endblock %}

<div class="flex contaner block-row">
    {% block left-sidebar %}
    <div class="left-sidebar" style="padding-left: 5px;">
        <div class="left-sidebar-nav">
            <h2>ФИЛЬТР</h2>
            <div class="flex filter-block">
                <span class="flex filter-link-title">Продукты</span>
                <a class="filter-link" href="{% url 'product:product_list' %}">Показать все</a>
            </div>
            <hr>
            <h2>заголовки</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti amet ducimus, doloribus provident dolorem
            consectetur ad sit rerum accusantium repudiandae, nam expedita enim quod hic ut quasi dolores odio quam.
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block right-sidebar %}
    <div class="right-sidebar">
        <div class="advertisement-box">
            <!-- <img class="advertisement" src="{% static 'assests/img/default/реклама.jpg' %}" alt=""> -->
        </div>
    </div>
    {% endblock %}
</div>

<div class="flex" style="display: contents;">
    {% if page_obj.has_other_pages %}
    <div class="pos-page">
        <nav class="page-list">
            <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
                </li>
                {% endif %}
                {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                <li class="page-num page-num-selected">{{ page }}</li>
                {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %} <li class="page-num">
                    <a href="?page={{ page }}">
                        {{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
                    </li>
                    {% endif %}
            </ul>
        </nav>
    </div>
    {% else %}
    <hr>
    {% endif %}
</div>

{% include 'base/footer.html' %}