{% block footer %}
<div>
    <div class="flex contaner footer-block">
        <div class="flex menu-title">
            <span>© Corporation Ltd. Martynov 2024</span>
        </div>
        <div class="flex menu-callback">
            <div class="flex">
                <ul class="flex">
                    <li class="li-paginate li-menu">
                        <p>меню, с контактами</p>
                    </li>
                    <li class="li-paginate li-menu">
                        <p>меню, с контактами</p>
                    </li>
                    <li class="li-paginate li-menu">
                        <p>меню, с контактами</p>
                    </li>
                    <li class="li-paginate li-menu">
                        <p>меню, с контактами</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
