{% load static i18n %}
{% load clent_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{% static 'assests/fonts/Novartis-Lines.ttf' %}">
    <link rel="stylesheet" href="{% static 'assests/fonts/Charlemagne-Bold.ttf' %}">
    <link rel="stylesheet" href="{% static 'assests/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assests/css/product_style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>

    {% block title %}{% endblock %}
</head>

<body>
    <div class="flex nav contaner">
        <div>
            <marquee behavior="" direction="">
                АВР обеспечивает подачу питания потребителю электроэнергии от резервного ввода,
                если произошло непредвиденное прекращение работы основной линии.
            </marquee>
        </div>
        <div class="">
            <h1 class="header-h1">Автоматизация систем АВР</h1>
        </div>
        <div class="flex header-menu-nav">
            <ul class="flex">
                <li>
                    <p>меню, с контактами</p>
                </li>
                <li>
                    <p>меню, с контактами</p>
                </li>
                <li>
                    <p>меню, с контактами</p>
                </li>
                <li>
                    <p>меню, с контактами</p>
                </li>
                <li>
                    <p>меню, с контактами</p>
                </li>
            </ul>
        </div>
        <div class="heared-searchWrap">
            <div class="flex wrap">
                <div class="flex header-search-inner">
                    {% block client %}
                    <div class=" flex sidebar-block">
                        <div class="flex clients-header">
                        </div>
                        <div class="client">
                            {% client_main %}
                        </div>
                    </div>
                    {% endblock %}
                    <div class="flex">
                        <form class="flex header-search-form" method="get" onsubmit="return false" id="search">
                            <input class="header-search-input" id="search-textbox-input" type="text" autocomplete="off"
                                placeholder="поиск проекта">
                            <button class="header-search-icon-btn" type="submit">
                                <img src="../../static/assests/icon/icon_searche_white.svg" width="30px" height="30px"
                                    alt="Search">
                            </button>
                            <span class="header-search-icon header-search-icon-title">
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block nav-breadcrumbs %}
        <nav aria-label="{% translate 'Breadcrumbs' %}" class="pos" >
            {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'product:subject' %}">{% translate 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
            {% endblock %}
        </nav>
        {% endblock %}
    </div>