
/* admin panel */

.button-import {
    padding: 6px 14px;
    border-radius: 16px;
    background-color: #333333;
    /* background: url(./img/icon-addlink.svg) 0 1px no-repeat; */
    color: aliceblue;
}

.btn-upload {
    padding: 10px;
    background: #417690;
}

.upload-file {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.breadcrumbs {
    background: #264b5d;
    padding: 5px 60px;
    border: none;
    color: #c4dce8;
    text-align: left;
}

nav.pos {
    width: 100%;
}