{% load static i18n %}

{% if clients %}
    <div class="flex">
        <select class="select-client" name="client" id="element">
            <option value="0">Показать все</option>
            {% for client in clients %}
            <div class="flex position">
                <a href="#">
                    <option value="{{ client.id }}">{{ client.name }}</option>
                </a>
            </div>
            {% endfor %}
        </select>
        <button style="width: 100px" type="submit">Показать</button>
    </div>
{% else %}
    <div>
        <strong>База клиентов пока пуста</strong>
    </div>
{% endif %}