{% load static i18n %}

{% if clients %}
<div class="flex">
    <form class="flex" action="{% url 'product:clients' %}" method="get">
        <!-- {% csrf_token %} -->
        <select class="select-client" name="client">
            <option value="0">Все проекты</option>
            {% for client in clients %}
            <div class="flex position">
                <option value="{{ client.id }}">{{ client.name }}</option>
            </div>
            {% endfor %}
        </select>
        <input class="select-client-btn" type="submit" value="Показать">
    </form>
</div>
{% else %}
<div>
    <strong>База клиентов пока пуста</strong>
</div>
{% endif %}