{% load static i18n %}

{% if clients %}
<div class="flex">
    <form class="flex" action="." method="get">
        <!-- {% csrf_token %} -->
        <select class="select-client" name="client">
            <option value="0">Показать все</option>
            {% for client in clients %}
            <div class="flex position">
                <option value="{{ client.id }}">{{ client.name }}</option>
            </div>
            {% endfor %}
        </select>
        <button class="select-client-btn" type="submit">Показать</button>
    </form>
</div>
{% else %}
<div>
    <strong>База клиентов пока пуста</strong>
</div>
{% endif %}