{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}
{% block title %} <title>{{ title }}</title> {% endblock %}

<div class="center-sidebar">
    {% if client_subjects %}
    <div class="flex section">
        {% for subject in client_subjects %}
        <div class="section-box ">
            <div class="subject-name">
                <h2>{{ subject.name }}</h2>
            </div>
            <div class="product-description">
                <p class="client-descript">
                    {{ subject.client.description }}
                </p>
                <div class="flex box-short-detail">
                    <div class="product-name">
                        <span class="span">Клиент: </span> {{ subject.client.name }}
                    </div>
                    {% if subject.subjects.first.id_product %}
                    <div class="product-name">
                        <span class="span">ID: </span>
                        <a href="{% url 'product:subject-products' subject.subjects.first.id_product %}">
                            {{ subject.subjects.first.id_product }}
                        </a>
                    </div>
                    <div class="product-link">
                        <a href="{% url 'product:subject_detail' subject.slug %} ">Подробнее >></a>
                    </div>
                    {% else %}
                    <div class="product-name">
                        <span class="span">ID: </span>
                        <span>0000</span>
                    </div>
                    <div class="product-link">
                        <span>Нет данных</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    {% include 'exception/otherwise_if_not.html' %}
    {% endif %}
</div>

{% endblock %}