{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}
{% block title %}<title>{{ title }}</title>{% endblock %}

<div class="center-sidebar">
    {% if clients %}
    <div class="flex">
        <div class="flex subject-wrap">
            {% for sub in clients %}
            <li class="li-subject">
                <ul class="cart-subject">
                    <div class="flex cart-subject-title">
                        <a href="{% url 'product:client-subjects' sub.slug %}">
                            <div class="subject-title">
                                <span class="cart-title">{{ sub.name|truncatechars:15 }}</span>
                            </div>
                        </a>
                        <div class="cart-image">
                            {% if sub.clients.first.photo %}
                            <img src="{{ sub.clients.first.photo.url}}" width="100%" height="150px" alt="">
                            {% else %}
                            <img src="{% static 'assests/img/owen_pr.png' %}" width="100px" height="150px" alt="">
                            {% endif %}
                        </div>
                    </div>
                </ul>
            </li>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="flex block-else-product">
        <h2 class="flex justify-for-else">Данных пока нет!</h2>
        <div class="flex img-tumbleweed">
            <img src="{% static 'assests/img/ShadyFaithfulFishingcat-size_restricted.gif' %}" alt="">
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}