.form-container {
    min-width: 50%;
}

.form-input, div.form-label select {
    min-height: 22px;
    min-width: 300px;
    /* background: #f7fbb7; */
}
/* 
.form-input:hover {
    background: #3f576e;
    color: #f7fbb7;
} */

.form-chek-box {
    width: 20px;
    height: 20px;
}

.form-label {
    padding: 0 5px;
    justify-content: space-between;
}

.form-block {
    width: 60%;
}

.btn {
    padding: 5px 35px;
    border-radius: 5px;
}

.btn-update {
    outline: 1px solid;
    background: #3771a7;
    border-radius: 0 17px 17px 0;
}

.btn-block {
    padding-top: 10px;
    padding-left: 55px;
}

.form-auth-btn {
    max-width: 80%;
    padding: 8px;
}

.form-error, li {
    padding-bottom: 8px;
    padding-top: 8px;
    /* font-size: 16px; */
    color: #F44336;
}

.errorlist {
    background: #3f576e;
}

.btn-logout {
    padding: 0;
    background: none;
    border: 0;
    color: #ffffff;
}

div.form-label select {
    min-height: 28px;
    min-width: 307px;
}