@font-face {
    font-family: 'Pixar';
    /* src: url("{% static 'assests/fonts/Charlemagne-Bold.ttf' %} format('truetype')"); */
    src: url("../fonts/Charlemagne-Bold.ttf") format('truetype');
}

p.client-descript {
    padding-bottom: 25px;
    font-size: 21px;
}

.section {
    flex-direction: column;
    /* padding-top: 30px; */
    padding-left: 30px;
}

.section-box {
    margin-bottom: 30px;
    /* outline: 1px solid red; */
    box-shadow: 6px 6px 8px 1px #efe6d5;
}

.product-title {
    padding: 16px;
    font-size: 30px;
    font-family: 'Pixar';
    color: #ffce61;
}

.product,
.product-name,
.product-created,
.product-ready,
.product-description,
.product-link {
    padding: 10px 20px;
}

.product-description {
    font-size: 21px;
}

.box-short-detail {
    width: 100%;
    background: #264b5d;
}

.product-link {
    position: absolute;
    right: 22em;
    background: #2b52e2;
}

.roduct-box-detail {
    max-width: 580px;
    flex-direction: column;
}

p.product-date-detail {
    /* padding-left: 25px; */
    justify-content: space-between;
    font-size: 20px;
}

.product-title-date {
    padding: 0 25px 0;
}

.color-status-green,
.color-status-yellow {
    font-size: 24px;
}

.color-status-green {
    color: #0cd90c;
}

.color-status-yellow {
    color: yellow;
}