@font-face {
    font-family: 'Novartis';
    src: url('../fonts/Novartis-Lines.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #363434;
    color: #fdfdff;
    background: #3f576e;
    /* background-image: url('../img/programming.jpg'); */
    background-repeat: no-repeat;
}

marquee {
     padding-top: 5px;
    font-size: 20px;
}

.contaner {
    margin: 0 auto;
    margin-bottom: 50px;
    /* padding-top: 40px; */
    max-width: 100%;
    flex-direction: column;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    padding: 10px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin-right: 20px;
    background-color: #3771a7;
    color: #e3ebeb;
}

.left-sidebar {
    width: 20%;
}

.center-sidebar {
    width: 60%;
}

.right-sidebar {
    width: 20%;
}

.flex {
    display: flex;
}

/* Header */

.wrap {
    padding: 0 15px;
    max-width: 1630px;
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.header-h1 {
    text-align: center;
}

.nav {
    /* margin-top: 35px; */
    outline: 3px solid #494956;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3f576e;
}

.heared-searchWrap {
    height: 70px;
    width: 100%;
    background: #3771a7;
    padding-top: 1px;
    padding-bottom: 1px;
}

.header-menu-nav {
    margin-bottom: 20px;
}

.header-search-inner {
    /* width: 600px; */
    margin-left: 30px;
}

.header-search-form {
    height: 45px;
    position: static;
    padding-top: 13px;
    padding-left: 25px;
    align-items: center;
}

.header-search-icon {
    display: block;
    height: 28px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 35px;
}

.header-search-icon-title {
    top: 0;
    right: 23em;
    padding-top: 11px;
}

.header-search-input {
    min-width: 600px;
    height: 29px;
    padding: 9px 0 10px 15px;
    border: 1px solid #cfb0b0;
    border-radius: 30px 0 0 30px;
    font-size: 20px;
    background: #e3ebeb;
    opacity: 0.6;
}

.header-search-icon-btn {
    width: 20em;
    height: 50px;
    border: 0;
    border-radius: 0 30px 30px 0;
    background: #1a1c1e;
}

.header-search-active .header-search-input {
    color: #535c69
}

/* content for else */

.block-else-product {
    flex-direction: column;
    font-size: 20px;
}

.img-tumbleweed {
    opacity: 0.6;
}

.justify-for-else, .img-tumbleweed {
    justify-content: center;
}


/*=================================== header navigate list ======================================*/

.sidebar-block {
    width: 390px;
    flex-direction: column;
}

.position {
    justify-content: space-between;
}

.select-client {
    height: 73px;
    width: 260px;
    padding-left: 10px;
    font-size: 20px;
    background-color: #1a1c1e;
    color: white;
}

.select-client-btn {
    width: 100%;
    font-size: 20px;
    background: #cbe1f3;
}

.clients-header {
    align-items: center;
    flex-direction: column;
}

.client {
    /* padding-top: 10px; */
    padding-left: 10px;
    /* padding-right: 18px; */
    /* padding-bottom: 10px; */
    align-items: flex-start;
    /* outline: 2px solid #494956; */
}

/*================================================== left sidebar =======================================*/

.left-sidebar-nav {
    height: 500px;
    margin-top: 50px;
    padding: 10px 25px;
}

.filter-block {
    
    justify-content: space-between;
}

.filter-link-title {
    padding-left: 5px;
    font-size: 20px;
}

.filter-link {
    padding: 5px;
    background: #e9e9e9;
    border-radius: 5px;
    color: #0719f1;
}

/*================================================== subject list =======================================*/

.subject-wrap {
    flex-wrap: wrap;
}

.block-row {
    flex-direction: row;
}

.li-subject {
    width: 390px;
    max-height: 235px;
    margin-bottom: 30px;
    margin-left: 25px;
    background: #3f576e;
    /* box-shadow: 10px 10px 9px 8px #211e1e; */
    box-shadow: 7px 7px 6px 0px #403d38;
}

.cart-subject {
    display: block;
}

.cart-title {
    position: absolute;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 24px;
    color: #ff4646;
    font-family: 'Novartis';
}

.cart-subject-title {
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
}

.subject-title {
    padding: 1em 1em;
    font-size: 20px;
}

/* =================================== footer-block ========================================*/

.footer-block {
    height: 120px;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #3f576e;
}

/*==================================== pagination ==========================================*/

.page-list {
	text-align: center;
	margin: 0 0 20px 0;
}

.pos-page {
    outline: 1px solid grey;
    padding: 1px 0;
}

.page-list ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.page-list ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}

.page-list a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}

.page-list .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}

.page-list .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.page-list .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.page-list .page-num-selected:hover {
	box-shadow: none;
}
