@font-face {
    font-family: 'Novartis';
    src: url('../fonts/Novartis-Lines.ttf') format('truetype');
}

html {
    --gr-bg: #4b668996;
    --h2-clr: #264b5d;
    --lbl-blue: rgb(35, 35, 245);
}

body {
    margin: 0;
    /* background-color: #363434; */
    color: #fdfdff;
    /* background: #3f576e; */
    background-image: url('../img/500кв.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

marquee {
     padding-top: 5px;
    font-size: 20px;
}

h2.h2, .h2-link {
    font-size: 20px;
    color: var(--h2-clr);
}

.h2-link:hover {
    padding: 0 8px;
    color: white;
    background: #0719f1;

}

.contaner {
    margin: 0 auto;
    margin-bottom: 50px;
    /* padding-top: 40px; */
    max-width: 100%;
    flex-direction: column;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.a-active {
    color: #ca1f19;
}

.a-active:hover {
    color: #f0f0f0;
}

p {
    padding: 10px;
    margin: 0;
}

.pl-1 {
    padding-left: 5px;
}

.pr-1 {
    padding-right: 5px;
}

.pb-1 {
    padding-bottom: 5px;
}

ul {
    padding: 0;
    margin: 0;
}

li, .li-paginate {
    list-style-type: none;
    margin-right: 20px;
    color: #e3ebeb;
}

.li-paginate {
    background-color: #3771a7;
}

.li-menu {
    min-width: 135px;
}

.span-link {
    padding-right: 32px;
    font-size: 36px;
    color: red;
}

.left-sidebar {
    width: 19%;
    padding-left: 5px;
    font-size: 11px;
}

.center-sidebar {
    width: 56%;
    margin-left: 50px;
    /* margin: 0 auto; */
}

.right-sidebar {
    width: 20%;
}

.flex {
    display: flex;
}

.auth {
    min-width: 720px;
    padding: 0 20px;
}

/* for display flex */

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.span {
    padding: 0;
}

.mb-3 {
    margin-bottom: 1.5em;
}

.mb-2 {
    margin-bottom: 1.0em;
}

/* ====================== Header ============================= */

.wrap {
    padding: 0 15px;
    max-width: 1630px;
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.header-h1 {
    text-align: center;
}

.nav {
    /* margin-top: 35px; */
    outline: 3px solid #494956;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3f576e;
}

.heared-searchWrap {
    height: 70px;
    width: 100%;
    background: #3771a7;
    padding-top: 1px;
    padding-bottom: 1px;
}

.header-menu-nav {
    margin-bottom: 20px;
}

.header-search-inner {
    /* width: 600px; */
    margin-left: 30px;
}

.header-search-form {
    height: 45px;
    position: static;
    padding-top: 13px;
    padding-left: 25px;
    align-items: center;
}

.header-search-icon {
    display: block;
    height: 28px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 35px;
}

.header-search-icon-title {
    top: 0;
    right: 23em;
    padding-top: 11px;
}

.header-search-input {
    min-width: 600px;
    height: 29px;
    padding: 9px 0 10px 15px;
    border: 1px solid #cfb0b0;
    border-radius: 30px 0 0 30px;
    font-size: 20px;
    background: #e3ebeb;
    opacity: 0.6;
}

.header-search-icon-btn {
    width: 20em;
    height: 50px;
    border: 0;
    border-radius: 0 30px 30px 0;
    background: #1a1c1e;
}

.header-search-active .header-search-input {
    color: #535c69
}

/* content for else */

.block-else-product {
    flex-direction: column;
    font-size: 20px;
}

.img-tumbleweed {
    margin: 0 auto;
    background: var(--h2-clr);
    opacity: 1;
}

.img-p1 {
    padding: 10px;
    border-radius: 2em;
}

.justify-for-else, .img-tumbleweed {
    justify-content: center;
}


/*=================================== header navigate list ======================================*/

.sidebar-block {
    width: 390px;
    flex-direction: column;
}

.position {
    justify-content: space-between;
}

.select-client {
    height: 73px;
    width: 260px;
    padding-left: 10px;
    font-size: 20px;
    background-color: #1a1c1e;
    color: white;
}

.select-client-btn {
    width: 100%;
    font-size: 20px;
    background: #cbe1f3;
}

.clients-header {
    align-items: center;
    flex-direction: column;
}

.client {
    /* padding-top: 10px; */
    padding-left: 10px;
    /* padding-right: 18px; */
    /* padding-bottom: 10px; */
    align-items: flex-start;
    /* outline: 2px solid #494956; */
}

/*================================================== left sidebar =======================================*/

.dropbtn {
    padding: 16px;
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

.left-sidebar-nav {
    height: 500px;
    margin-top: 50px;
    padding: 10px 25px;
}

.filter-block {
    
    justify-content: space-between;
}

.filter-link-title {
    padding-left: 5px;
    font-size: 20px;
}

.filter-link {
    padding: 5px 8px;
    background: #3771a7;
    font-size: 15px;
    /* border-radius: 0 20px 20px 0; */
    color: #0719f1;
}

/*================================================== right sidebar =======================================*/

.advertisement-box {
    padding-left: 30px;
}

.advertisement {
    position: absolute;
    top: 27em;
    width: 314px;
    height: 264px;
}

/*================================================== subject list =======================================*/

.subject-wrap {
    flex-wrap: wrap;
}

.block-row {
    flex-direction: row;
}

.li-subject {
    width: 390px;
    max-height: 235px;
    margin-bottom: 30px;
    margin-left: 25px;
    background: #3f576e;
    /* box-shadow: 10px 10px 9px 8px #211e1e; */
    box-shadow: 7px 7px 6px 0px #403d38;
}

.cart-subject {
    display: block;
}

.cart-title {
    /* position: absolute; */
    padding-left: 15px;
    padding-top: 5px;
    font-size: 24px;
    color: #46ffd4;
    font-family: 'Novartis';
}

.cart-subject-title {
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
}

.subject-title {
    padding: 1em 1em;
    font-size: 20px;
}

.subject-name {
    padding-left: 2em;
    color: #46ffd4;
}

/* =================================== footer-block ========================================*/

.footer-block {
    height: 120px;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #3f576e;
}

/*==================================== pagination ==========================================*/

.page-list {
	text-align: center;
	margin: 0 0 20px 0;
}

.pos-page {
    outline: 1px solid grey;
    padding: 1px 0;
}

.page-list ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.page-list ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}

.page-list a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}

.page-list .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}

.page-list .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.page-list .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.page-list .page-num-selected:hover {
	box-shadow: none;
}

/* ============================ MESSAGES ========================= */

.message {
    padding: 13px 19px;
    outline: 1px solid red;
    border-radius: 8px;
    background: #9eeaf9;
}

.advant-box {
    margin-bottom: 50px;
    font-size: 20px;
    /* background: #e9e4e4; */
    color: #2d4547;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.m-0 {
    margin: 0!important;
}

.p-0 {
    padding: 0!important;
}

/* .alert {
    background-color: #6adaf39e;
} */

.alert-dismissible {
    padding: 10px
}