{% extends 'admin/change_list.html' %}
{% load static %}

{% block object-tools-items %}
{% load admin_urls %}
    <script src="{% static 'assests/js/win_upload_csv_client.js' %}"></script>
    <li>
        <button class="button-import" type="submit" onclick="winImportCSV('./import-client-csv', 'Upload', 300, 300)">
            Import CSV
            <!-- <a href="{% url 'admin:import_client_csv' %}" class="addlink">
            </a> -->
        </button>
    </li>
    {{ block.super }}
{% endblock %}
